# physical constrain file
# assign io-pins to pin numbering of iCE40-HX1K on olimex board iCE40-HX1K-EVB
# compare to the schematic of the board and the datasheet of fpga

set_io clk_in 15
set_io but[0] 41
set_io but[1] 42

set_io led[0] 40
set_io led[1] 51

